<div ng-controller="initiativesController as ctrl" style="margin-bottom:20%">

    <div class="container-fluid" id="main-dashboard" st-pipe="ctrl.callServer" st-table="ctrl.displayed" ng-init = "ctrl.getInitiatives()">


        <div class="container-fluid dashboardRow">
            <div class="row">
                 <uib-accordion close-others="true">
                    <div uib-accordion-group class="panel-success" is-open="false" style="margin-bottom:30px;">
                          <uib-accordion-heading>
                            <strong>Name of the Initiative</strong> <strong><lable class="pull-right"  style="margin:0 150px 0 0">Action</ilable></strong>
                          </uib-accordion-heading>
                    </div>
                </uib-accordion>
                 <uib-accordion close-others="true">
    <div uib-accordion-group class="panel-default" is-open="$first" ng-repeat="row in ctrl.displayed">
      <uib-accordion-heading>
          
       <abbr title="Name of the Initiative" style = "border-bottom: none">{{row.title}}</abbr> 
           <div class="pull-right">
          <button  ng-class="row.status=='Follow' ? 'hand-pointer btn btn-success btn-xs' : 'hand-pointer btn btn-danger btn-xs'" style="margin:0 90px 0 0" ng-click="ctrl.deleteInitiative(row.id)"><abbr title="Delete Initiative" style = "border-bottom: none"><span class="glyphicon glyphicon-trash"></span></abbr></button>
           <i class="pull-right glyphicon" style="margin:0 20px 0 20px" ng-class="{'glyphicon glyphicon-collapse-up': ctrl.status.open, 'glyphicon glyphicon-collapse-down': !ctrl.status.open}"></i>
         </div>
      </uib-accordion-heading>
                <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th class=" text-center">ID</th>
                                <th class=" text-center">Description</th>
                                <th class=" text-center">Image of the initiative</th>
                                <th class=" text-center" style="width:20%">Followers</th>
                            </tr>
                        </thead>
                            <tbody >
                                <tr class="center">
                                    <td>{{row.id}}</td>
                                    <td style="width:50%"> {{row.desc}}</td>
                                    <td><img ng-src={{row.img}} style="width:70%"></td>
                                    <td>{{row.noOfUsersFollowing}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                           
                    </table>
    </div>
  </uib-accordion>
                
                
                
            </div>
        </div>
    </div>
