<link rel="stylesheet" href="styles/scss/main/tab.css">

<div ng-controller="BasicController as ctrl">

<div id="main" class="col-sm-6">
    <div id="first">
        <form name="basicForm">
            <h3>Basic</h3>
            <!--<h4>Please fill all entries.</h4>-->
            <div class="row form-group">
                 <label>Title:</label>
                <div  class="required-field-block">
                <input name="title" placeholder="Initiative Title" ng-model="ctrl.basicInfo.title" type="text" class="form-control" required>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                <label>Description :</label>
                <div class="required-field-block"> 
                    <textarea name="desc" type = "text" placeholder="Initiative Description" rows="5" cols="10" ng-model="ctrl.basicInfo.desc" class="form-control" required></textarea>
                        <div class="required-icon">
                            <div class="text">*</div>
                        </div>
                </div>
                <input name="next" type="submit" value="Next" class="form-control btn btn-success" ng-click="ctrl.gotoNextTab()" ng-disabled = "basicForm.$invalid">
            </div>
            
        </form>
    </div>
</div>

</div>
  

