<div ui-view></div>
<div ng-controller="myInitiativesController as ctrl" style="margin-bottom:20%">

    <div class="container-fluid" id="main-dashboard" ng-init = "ctrl.getInitiatives()">
        
        <div class="row header">
            <!-- /.col-sm-2 -->
            <div class="col-sm-3 col-sm-offset-9 order-test">
                <button ui-sref="App.MyInitiative.AddNewInitiative.Basic" class="btn btn-success btn-lg ">Add new Initiative</button>
            </div>
            <!-- /.col-sm-2 -->
        </div>
    
    
   <!-- UI-Accordion-->
    
    <uib-accordion ng-show="ctrl.noInitiativeMessage">
        <div uib-accordion-group class="panel-success" is-open="false" style="margin-bottom:30px;">
          <uib-accordion-heading>
            <strong>Name of the Initiative</strong> <strong><lable class="pull-right"  style="margin:0 150px 0 0">Action</ilable></strong>
          </uib-accordion-heading>
        </div>
    </uib-accordion>
        <div ng-hide="ctrl.noInitiativeMessage" >
        <label style="margin:70p%; color:red">You have not started creating Initiatives/you have deleted all created initiatives, To create the new initiative please click on the <strong style="color:green; margin:10px;"><i>Add new initiative</i></strong>  button</label>
        
        </div>    
        <uib-accordion close-others="true" style="margin-top:10px;">
    <div uib-accordion-group class="panel-default" is-open="$first" ng-repeat="row in ctrl.displayed">
      <uib-accordion-heading>
                <abbr title="Name of the Initiative" style = "border-bottom: none">{{row.title}}</abbr>
               <!--   <span class="caret"></span>-->
          <div class="pull-right">
          <button  ng-class="row.status=='Follow' ? 'hand-pointer btn btn-success btn-xs' : 'hand-pointer btn btn-danger btn-xs'" style="margin:0 90px 0 0" ng-click="ctrl.deleteInitiative(row.id)"><abbr title="Delete Initiative" style = "border-bottom: none"><span class="glyphicon glyphicon-trash"></span></abbr></button>
           <i class="pull-right glyphicon" style="margin:0 20px 0 20px" ng-class="{'glyphicon glyphicon-collapse-up': ctrl.status.open, 'glyphicon glyphicon-collapse-down': !ctrl.status.open}"></i>
         </div>
         
      </uib-accordion-heading>
                <table class="table table-striped  text-center">
                        <thead>
                            <tr>
                                <th class=" text-center">ID</th>
                                <th class=" text-center">Description</th>
                                <th class=" text-center">Image of the initiative</th>
                                <th class=" text-center" style="width:20%">Followers</th>
                                <!--<th>Action</th>-->
                            </tr>
                        </thead>
                            <tbody >
                                <tr class="center">
                                    <td>{{row.id}}</td>
                                    <td style="width:50%"> {{row.desc}}</td>
                                    <td><img ng-src={{row.img}} style="width:50%"></td>
                                    <!--<td><a class="hand-pointer">{{row.img}}</a></td>-->
                                    <td>{{row.noOfUsersFollowing}}</td>
                                </tr>
                            </tbody>
                           
                    </table>
    </div>
  </uib-accordion>
        </div>
</div>  
    
    
    
    
    
