<link rel="stylesheet" href="styles/css/login.css">
<div  ng-controller="ForgotPasswordController as FpCtrl" class="cover">
    <div class="row login-block" >
        <div  class="col-md-12 wrapper">
          <form name="userForm" class="form-container" data-ng-submit="FpCtrl.recover()" class="main-center" novalidate>
              <div class="login-panel center-block">
           
            <div class="center-block" style="color: white">
                <h2>Enter required information</h2>
                
            </div>
              <div class="form-group username ">
                  <div class="input-group form-element">
                    <span class="input-group-addon">
                      <img class="login-images" src="images/icons/icon_username.svg">
                    </span>
                    <input type="email" class="form-control" ng-model="FpCtrl.recoveryUsername" placeholder="Username" id="recoveryUsername" required />
                  </div>
              </div>
              <div class="form-group">
                  <div class="input-group form-element">
                      <span class="input-group-addon">
                      <img class="login-images" src="images/icons/icon_username.svg">
                    </span>
                    <input type="tel" class="form-control" ng-model="FpCtrl.reoveryContact" placeholder="Registered Contact" id="registeredContact" required />
                  </div>
              </div>
              
              <div class="form-group">
              <input type="submit" class="btn btn-login btn-lg login-button" id="submit" ng-disabled="userForm.$invalid" />
                  
              </div>
              <div class="failedLogin form-group form-element" ng-if="(FpCtrl.autherizationFailed)">
                <span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>&nbsp;<span class="message">Oops! Invalid email or Contact Number, Please enter registered details</span>
            </div>
                   </div>
            </form>
            
      </div>
<!--    </div>-->
</div>

</div>
<!-- /.wrapper -->
