<link rel="stylesheet" href="styles/css/login.css">
<div  ng-controller="ForgotPasswordController as RsCtrl" class="cover">
    <div class="row login-block" >
        <div  class="col-md-12 wrapper">
          <form name="recoverPasswordForm" class="form-container" data-ng-submit="RsCtrl.recoverAndLogin()" class="main-center" novalidate>
              <div class="login-panel center-block">
                    <div class="center-block" style="color: white">
                        <h2>Enter New Password</h2>
                    </div>
                    <div class="form-group username ">
                        <div class="input-group form-element">
                            <span class="input-group-addon">
                            <img class="login-images" src="images/icons/icon_password.svg">
                            </span>
                            <input type="password" class="form-control" ng-model="RsCtrl.recoveryPassword" placeholder="New Password" id="recoveryPassword" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group form-element">
                            <span class="input-group-addon">
                            <img class="login-images" src="images/icons/icon_password.svg">
                            </span>
                            <input type="password" class="form-control" ng-model="RsCtrl.confirmReoveryPassword" placeholder="Confirm your password" id="confirmReoveryPassword" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-login btn-lg login-button" id="submit" ng-disabled="recoverPasswordForm.$invalid"/>
                    </div>
            </div>
        </form>     
      </div>
<!--    </div>-->
    </div>

</div>
<!-- /.wrapper -->
